@model string

@{
    ViewData["Title"] = "Error | Kleren";
    UsuarioViewModel usuario = Context.Session.Get<UsuarioViewModel>("usuario");
    string nombre = "";
    bool estaLoggeado = usuario != null;
    if (estaLoggeado)
    {
        nombre = usuario.Nombre;
    }
    if (estaLoggeado)
    {
        Layout = "~/Views/Shared/_LayoutRegistrado.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<!-- Cuerpo de la pagina principal -->

<div class="container">
    <main role="main" class="pb-3  p-5">
        <div class="text-center">
            <h1 class="display-4 mt-2">¡Vaya! Algo raro ha sucedido</h1>
            <p class="p-2 pb-1">@Model</p>
            <a asp-controller="Articulo" asp-action="Home" class="d-inline btn btn-primary">Ir al menú principal</a>
        </div>
    </main>
</div> 