<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-success text-white">
            <h5 class="card-title">Devolución Exitosa</h5>
        </div>
        <div class="card-body">
            <p class="card-text">La devolución de tu pedido se ha tramitado con éxito. Un repartidor acudirá a tu dirección en 3-4 días laborables.</p>
        </div>
        <div class="card-footer text-end">
            <button id="btnCancelar" data-url="@Url.Action("_ComprasYDevoluciones", "Usuario")" class="btn btn-primary">Volver</button>
        </div>
    </div>
</div>
